.container p, .container li {
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 11pt;
line-height: 1.65em;
}

.container {
padding-top: 5em;
}

#sidebar {
margin: 20px auto;
text-align: center;
width: 200px;
}

#sidebar ul {
list-style-type: none;
}

a:link {
color: black;
}

a:visited {
color: black;
}

a:hover {
text-decoration: none;
}

h1 a {
text-decoration: none;
}

h1 a:hover {
text-decoration: underline;
}

h1, .header {
text-align: center;
}

h1, h2, h3, h4 {
font-family: "Gill Sans", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.post:first-letter {
font-weight: bold;
}

.post {
margin-bottom: 7em;
}
