.container {
padding-top: 5em;
}

#sidebar {
margin: 0px auto;
text-align: center;
width: 200px;
}

a:link {
color: black;
}

a:visited {
color: black;
}

a:hover {
text-decoration: none;
}

h1 a {
text-decoration: none;
}

h1 a:hover {
text-decoration: underline;
}

.header {
text-align: center;
}

h1, h2, h3, h4 {
font-family: "Gill Sans", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.post:first-letter {
font-weight: bold;
}

.post {
margin-bottom: 7em;
}
